<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>知识库管理</title>
    <link rel="stylesheet" href="/ui/layui/css/layui.css">
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <!--查询条件-->
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="query-threadTable">
                <div class="layui-form-item" id="query-threadTable">
                    <label class="layui-form-label" style="width:60px">类型</label>
                    <div class="layui-input-inline">
                        <select id="type" name='type'>
                            <option value="01">java</option>
                            <option value="02">delphi</option>
                        </select>
                    </div>
                    <label class="layui-form-label" style="width:60px">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name='name'>
                    </div>
                    <button lay-submit lay-filter='query' class="layui-btn layui-btn-radius layui-btn-sm btn_query"> <i
                            class="layui-icon">&#xe615</i>查询</button>
                    <button lay-submit lay-filter='clear' class="layui-btn layui-btn-radius layui-btn-sm btn_query"> <i
                            class="layui-icon">&#xe669</i>清空</button>
                </div>
            </div>
            <!--表格显示-->
            <div class="layui-card-body">
                <table class="layui-hide" id="table-dataTable" lay-filter="table-dataTable"></table>
            </div>
        </div>
    </div>

    <!--头工具栏-->
    <script type="text/html" id="toolbarData">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="insert">新增</button>
        </div>
    </script>

    <!--行工具栏-->
    <script type="text/html" id="barDemo">
        <a class='layui-btn layui-btn-xs layui-btn-danger' lay-event='pull'>领取</a>
        <a class='layui-btn layui-btn-xs' lay-event='edit'>详细信息</a>
    </script>


    <script src="/ui/layui/layui.js"></script>
    <script>
        layui.extend({
            index: '{/}/ui/layui/core/index', //核心模块
            exd: '{/}/ui/layui/extends/extend' //扩展模块
        }).use(['layer', 'table', 'jquery', 'form', 'index','exd'], function () {
            var $ = layui.jquery,
                layer = layui.layer,
                table = layui.table,
                form = layui.form,
                admin = layui.admin,
                config = layui.setter,
                global = layui.global;
            // config = layui.thread,
            // jutil = layui.jutil,
            // global = layui.global,
            // dictpl = layui.dictpl,
            // laydate = layui.laydate;
            debugger
            //***1.变量定义***
            //***2.方法定义***
            var active = {
                //1.表格加载
                tableInit: function () {
                    table.render({
                        //(1)基本设置
                        elem: '#table-dataTable',
                        height: 'full-200',
                        toolbar: '#toolbarData',

                        //(2)异步请求
                        method: 'post',
                        url: 'http://127.0.0.1:2000/data/query',
                        contentType: "application/json",
                        where: {},
                        page: true,
                        limit: 10,
                        request: {
                            pageName: "page",
                            limitName: "limit"
                        },
                        parseData: function (res) {
                            return {
                                code: res.code,
                                msg: res.message,
                                count: res.count,
                                data: res.data
                            }
                        },
                        //(3)表头设置
                        cols: [[
                            { type: 'checkbox' },
                            { field: 'jlbh', title: '记录编号', hide: true },
                            { field: 'type', title: '类别' },
                            { field: 'name', title: '名称' },
                            { field: 'content', title: '内容' },
                            { field: 'createTime', title: '登记时间' }
                            // { field: 'lx', title: '线索类型', templet: '<div> {{# var fn = ' + dictpl.render('协破线索类型') + ' }} {{ fn(d.lx) }} </div>' },
                            // { field: 'zt', title: '线索状态', templet: '<div> {{# var fn = ' + dictpl.render('协破线索状态') + ' }} {{ fn(d.zt) }} </div>' },
                            // { field: 'xszt', title: '线索主题' },
                            // { field: 'jgmjxm', title: '责任民警' },
                            // { field: 'tqczdwmc', title: '查证(配侦)单位' },
                            // { field: 'tqczrxm', title: '查证(配侦)人' },
                            // { field: 'tqczqx', title: '查证(配侦)期限', templet: '<div> {{# var fn = ' + dictpl.render('协破查证期限') + ' }} {{ fn(d.tqczqx) }} </div>' },
                            // { field: 'tqczdqrq', title: '到期日期' },
                            // { field: 'djsj', title: '登记时间' },
                            // { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150 }
                        ]],
                    })
                },

                //2.表格重载
                tableRelaod: function (sParam) {
                    table.reload('table-dataTable', {
                        where: sParam,
                        page: {
                            curr: 1
                        }
                    })
                },

                //3.页面初始化
                pageInit: function () {
                    //(1)字典初始化(查询条件)
                    global.pickDic({ lx: '协破线索类型', zt: '协破线索状态' });
                    //(2)时间初始化
                    laydate.render({
                        elem: '#djsj',
                        type: 'month',
                        format: 'yyyyMM',
                        theme: 'grid'
                    })

                },

                //4.线索领取
                threadPull: function (sIndex, sThread) {
                    var sParam = {};
                    sParam.url = 'pull/add';
                    sParam.method = 'post';
                    sParam.entity = active.getThreadPullEntity(sThread);
                    sParam.callback = function () {
                        layer.msg('领取成功', { icon: 1 });
                        layer.close(sIndex);
                        active.tableRelaod({}); //刷新数据集
                        var temp = 'pull&1';
                        active.returnToJZ(temp); //线索领取成功返回给警综
                        return;
                    }
                    global.commonAdd(sParam);
                },

                //5.线索领取entity
                getThreadPullEntity: function (sThread) {
                    debugger
                    var sDate = new Date();
                    var entity = {};
                    entity.xsbh = sThread.jlbh; //线索编号
                    entity.lqdw = gParam.djdw; //领取单位
                    entity.lqdwmc = gParam.djdwmc; //领取单位名称
                    entity.lqr = gParam.djr; //领取人
                    entity.lqrxm = gParam.djrxm; //领取人姓名
                    entity.lqrq = sDate.Format('yyyyMMdd'); //领取日期
                    entity.yxqx = global.dateCompute(sDate, 15); //有效期限
                    entity.zt = '01'; //状态(默认有效)
                    //时间戳
                    entity.djsj = sDate.Format('yyyyMMddhhmmss'); //登记时间
                    entity.djdw = gParam.djdw; //登记单位
                    entity.djdwmc = gParam.djdwmc; //登记单位名称
                    entity.djr = gParam.djr; //登记人
                    entity.djrxm = gParam.djrxm; //登记人姓名
                    entity.xgsj = sDate.Format('yyyyMMddhhmmss'); //修改时间
                    entity.xgdw = gParam.djdw; //修改单位
                    entity.xgdwmc = gParam.djdwmc; //修改单位名称
                    entity.xgr = gParam.djr; //修改人
                    entity.xgrxm = gParam.djrxm; //修改人姓名
                    return entity;
                }
            }


            //******3.初始化******
            active.tableInit(); //表格初始化
            // active.pageInit(); //查询字典初始化


            //******4.事件监听******
            //1.监听行工具栏
            table.on('tool(table-dataTable)', function (obj) {
                var sEvent = obj.event;
                if (sEvent == 'pull') {
                    alert('1111')
                    debugger
                    //ajax调用后台服务
                    $.ajax({
                        //1.请求地址和格式
                        url: 'http://127.0.0.1:2000/test/query',
                        method: 'post', //请求方法
                        async: true, //是否异步
                        dataType: 'json', //预期服务器返回数据的类型
                        //2.请求头和请求体
                        headers: { 'Content-Type': 'application/json;charset=utf8' },
                        data: JSON.stringify({ xh: '4' }), //讲js对象序列化
                        //3.回调函数
                        success: function (obj) {
                            alert('222')
                        }
                    })
                }

            })

            //2.监听头工具栏
            table.on('toolbar(table-dataTable)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'insert':
                       var sparam = {};
                       sparam.title = '知识库登记'; //标题
                       sparam.width = '1200px'; //宽度
                       sparam.height = '680px'; //高度
                       sparam.id = 'datamanage'; //内容div的id
                       sparam.view = '../view'; //加载的页面路径
                       sparam.data = {}; //传入弹出层的参数
                       sparam.button = 'form-submit-unit'; //按钮
                       global.pop(sparam);
                       break;
                };
            })

            //2.查询
            form.on('submit(query)', function (data) {
                active.tableRelaod(data.field);
            })

            //3.清空
            form.on('submit(clear)', function (data) {
                var temp = jutil.empty(data.field);
                form.val('query-threadTable', temp);
                active.tableRelaod(temp);
            })
        });
    </script>
</body>

</html>