<title></title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户管理</cite></a>
        <a><cite>用户信息</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="query-user">
            <div class="layui-form-item" id="query-user">
            </div>
        </div>
        <div class="layui-card-body">
            <table class="layui-hide" id="table-user" lay-filter="table-user"></table>
        </div>
    </div>
</div>

<script>
    layui.use(['table', 'tablex', 'layer', 'form', 'jutil', 'userauthen', 'dictpl','Q'], function () {
        var $ = layui.$,
            table = layui.table,
            layer = layui.layer,
            form = layui.form,
            jutil = layui.jutil,
            config = layui.userauthen,
            dictpl = layui.dictpl,
            Q = layui.Q;


        //***变量定义***
        var tablex = new layui.tablex(),
            url = 'publicQuery/query',
            userName = '';
            condition = {
                type: 'user',
                field1: '',
                field2: '',
                field3: ''
            }, //查询条件(所属单位、姓名、用户名)
            area = layui.sessionData(layui.setter.tableName)['unit']; //所属单位
        //字典模板
        var dicTransType = dictpl.render({
            dicName: '性别',
            dicField: 'sex'
        });

        //***方法定义***
        //1.表格初始化
        var active = {
            tableRender: function () {
                //查询区域
                var querybar = tablex.querybar;
                querybar.text("姓名", "name");
                querybar.text("用户名", "userName");
                querybar.button("btnQuery", "查询", "&#xe615;", "query");
                querybar.button("btnClear", "重置", "&#xe669;", "clear");

                //头工具栏
                var toolbar = tablex.toolbar;
                toolbar.add("新增", "add");

                //行工具栏
                var actionbar = tablex.actionbar;
                actionbar.add("重置", "reset");
                actionbar.add("编辑", "edit");
                actionbar.add("删除", "del", "layui-btn-danger");

                //数据列
                var col = tablex.column;

                col.querybar("query-user", querybar.cols); //输出查询区域
                col.toolbar(toolbar.cols); //输出工具栏

                col.number();
                col.hide("ID", "id");
                col.text("姓名", "name");
                col.text("性别", "sex", "", "",dicTransType);
                col.text("电话", "phone");
                col.text("用户名", "userName");
                col.text("所属机构", "areaName");
                //col.text("在职状态","incumbency","","","<div>{{#  if(d.incumbency == '1'){ }}在职 {{#  } if(d.incumbency == '0') { }}离职 {{#  } }}</div>");
                col.actionbar("操作", actionbar.cols); //输出操作列


                //表格输出
                $('#table-user').table({
                    url: config.url + url,
                    method: "post",
                    toolbar: col.tools,
                    defaultToolbar: col.dtools,
                    totalRow: true,
                    height: 'full-250',
                    cols: col.cols,
                    where: condition
                });
            },

            //2.根据所属单位获取接口地址
            init: function () {
                if (area == '') {
                    layer.msg('用户单位为空，不能获得相应权限！')
                } else {
                    if (area != '000000') {
                        condition.field1 = area.substring(0, 4); //所属单位
                    }
                    active.tableRender();
                }
            },

            //3.表格重载
            tableReload: function (data) {
                debugger
                condition.type = 'user';
                condition.field2 = ''; //姓名
                condition.field3 = ''; //用户名
                if (typeof (data) != 'undefined') {
                    condition.field2 = data.name;
                    condition.field3 = data.userName;
                }
                table.reload("table-user", {
                    where: condition
                });
            },
            //4.用户名自动赋值
            getUername: function () {
                debugger
                var condition = {type:'sequence',field1:'seq_username'};
                data = JSON.stringify(condition);
                Q.post(config.url + 'publicQuery/queryAll',data, function (json) {
                    debugger
                    userName = 'nist_'+json.data[0].sequence+'';
                });
            }

        }


        //***初始化***
        active.init();


        //***时间监听***
        //1.新增
        table.on('toolbar(table-user)', function (obj) {
            if (obj.event == "add") {
                debugger
                active.getUername();
                post({userName:userName});
            }
        });

        //2.修改和删除
        table.on('tool(table-user)', function (obj) {
            var event = obj.event;
            var data = obj.data;
            if (obj.event === 'del') {
                tablex.delete(config.url + "user/" + data.id, function (json) {
                    active.tableReload();
                });
            } else if (obj.event === 'edit') {
                data.version=data.area;
                post(data);
            } else if (obj.event === 'reset') {
                var user = jutil.json(data);
                user.password = '111111';
                resetPassWord(user);
                active.tableReload();
            }
        });

        //3.查询
        form.on('submit(query)', function (data) {
            active.tableReload(data.field)
        });

        //监听重置按钮
        form.on('submit(clear)', function (data) {
            form.val("query-user", jutil.empty(data.field));
            active.tableReload();
        });

        //弹出层(新增或修改)
        function post(data) {
            tablex.post("user", "userauthen/userUnit/userinfo/view", "form-submit-user", {
                width: '760px',
                height: '500px',
                title: "用户信息"
            }, config.url + "user/", data, function (index, json) {
                active.tableReload();
                layer.close(index);
            });
        }

        //密码重置方法
        var resetPassWord = function (data) {
            $.ajax({
                url: config.url + "user",
                method: 'PATCH',
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(data),
                timeout: 3000,
                success: function (json) {
                    if (json.code == '1') {
                        layer.msg('密码重置成功！');
                    }
                }
            });
        }

    });
</script>