<div class="layui-form" lay-filter="root-form-list">
    <!--ID(隐藏)-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="hidden" name="id" value="{{ d.params.id || '' }}"  placeholder="ID" autocomplete="off" class="layui-input">
          </script>
        </div>
    </div>

    <!--名称-->
    <div class="layui-form-item">
        <label class="layui-form-label">名称：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
        </script>
        </div>
    </div>

    <!--数据表名-->
    <div class="layui-form-item">
        <label class="layui-form-label">数据表名：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="tableName" value="{{ d.params.tableName || '' }}" lay-verify="required" placeholder="请输入数据表名" autocomplete="off" class="layui-input">
          </script>
        </div>
    </div>

    <!--应用系统-->
    <div class="layui-form-item">
        <label class="layui-form-label">应用系统：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="appid" value="{{ d.params.appid || '' }}" lay-verify="required" placeholder="请输入应用系统" autocomplete="off" class="layui-input">
          </script>
        </div>
        <button type="button" class="layui-btn layui-btn-normal layui-btn-sm" style="margin-top: 4px;" id="appidbtn">选择</button>
    </div>

    <!--权限控制-->
    <div class="layui-form-item">
        <label class="layui-form-label">权限控制：</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="radio" name="isphantom" value="1" title="是" {{ d.params.isphantom === '1' ? 'checked' : '' }}>
            <input type="radio" name="isphantom" value="0" title="否" {{ d.params.isphantom === '0' ? 'checked' : '' }}>            
          </script>
        </div>
    </div>

    <!--显示情况-->
    <div class="layui-form-item">
        <label class="layui-form-label">显示情况：</label>
        <div class="layui-input-block">
            <script type="text/html" template>
                <input type="radio" name="status" value="1" title="显示" {{ d.params.status === '1' ? 'checked' : '' }}>
            <input type="radio" name="status" value="0" title="隐藏" {{ d.params.status === '0' ? 'checked' : '' }}>
          </script>
        </div>
    </div>

    <!--次序-->
    <div class="layui-form-item">
        <label class="layui-form-label">次序：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="sorting" value="{{ d.params.sorting || '' }}" lay-verify="required" placeholder="请输入次序" autocomplete="off" class="layui-input">
          </script>
        </div>
    </div>

    <!--按钮提交-->
    <div class="layui-form-item" style="text-align:center;padding:10px;">
        <input type="button" lay-submit lay-filter="form-submit-menutable" value="确认" class="layui-btn">
    </div>
</div>