<div class="layui-form" lay-filter="role-form-list">
    <!--ID(隐藏)-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="hidden" name="id" value="{{ d.params.id || '' }}" placeholder="ID" autocomplete="off"
                    class="layui-input">
            </script>
        </div>
    </div>

    <!--appId(隐藏)-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input type="hidden" name="appId" id="appId" class="layui-input">
        </div>
    </div>


    <!--symbol(隐藏)-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="hidden" name="symbol" value="{{ d.params.symbol || '' }}" class="layui-input">
            </script>
        </div>
    </div>

    <!--parentid(隐藏)-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="hidden" name="parentid" value="{{ d.params.parentid || '' }}" class="layui-input">
            </script>
        </div>
    </div>


    <!--名称-->
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>角色名称：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required"
                    placeholder="请输入角色名称" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>


    <!--角色类型-->
    <div class="layui-form-item">
        <label class="layui-form-label">角色类型：</label>
        <div class="layui-input-inline">
                <select name="type" id="type" >
                    </select>
            
        </div>
    </div>

    <!--显示情况-->
    <div class="layui-form-item">
        <label class="layui-form-label">显示情况：</label>
        <div class="layui-input-inline">
                <select name="isVisible" id="isVisible" >
                    </select>
            
        </div>
    </div>

    <!--次序-->
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color: red;">*</span>次序：</label>
        <div class="layui-input-inline">
            <script type="text/html" template>
                <input type="number" name="sorting" value="{{ d.params.sorting || '' }}" lay-verify="required"
                    placeholder="请输入次序" autocomplete="off" class="layui-input">
            </script>
        </div>
    </div>

    <!--按钮提交-->
    <div class="layui-form-item">
        <input type="button" lay-submit lay-filter="form-submit-role" value="确认" class="layui-btn"
            style="float:right;margin-right: 20px;">
    </div>
</div>
<script type="text/html" template lay-done="layui.data.sendParams(d.params)">
</script>

<script>
    layui.data.sendParams = function (params) {
        layui.use(['global'], function () {
            var global = layui.global;

            debugger
            $('#appId').val(parent.layui.parentid); //关联app编号

            //***初始化***
            global.pickDic_mul({type:'角色类型',isVisible:'显示隐藏'}); //字典字段初始化
            global.set_dicField_mul({type: params.type,isVisible:params.isVisible}); //字典字段赋初值
        });
    }
</script>