<div>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="query-pick-app">
                <div class="layui-form-item" id="query-pick-app">
                </div>
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="table-pick" lay-filter="table-pick"></table>
            </div>
        </div>
    </div>
</div>



<script>
  layui.use(['tablex','form','userauthen','table','jutil'],function(){
    var form = layui.form,
        config = layui.userauthen,
        table = layui.table,
        jutil = layui.jutil;
        

   //***变量定义***
   var tablex_pick_app = new layui.tablex,
       condition = {type: 'app', field1: '1', field2: 'userauthen',field3:''};

   //***方法定义***
   var active = {
     //1.表格初始化
     tableRender: function (){
       //1.查询区域
       var querybar = tablex_pick_app.querybar;
       querybar.text("应用名称", "name");
       querybar.button("btnQuery", "查询", "&#xe615;", "query1");
       querybar.button("btnMulSelect", "多选", "&#xe615;", "mulSelect")

       //2.行工具栏
       var actionbar = tablex_pick_app.actionbar;
       actionbar.clear();
       actionbar.add("选择", "select");

       //2.数据列
       var col = tablex_pick_app.column;
       col.clear();
       col.querybar("query-pick-app", querybar.cols); //输出查询区域

       col.checkbox();
       col.hide('ID', "id");
       col.text("应用名称", "name");
       col.actionbar("操作", actionbar.cols,'25%'); //输出操作列


       //3.表格初始化
       $('#table-pick').table({
           //url: config.url + 'outPatient/query',
           url: config.url + 'publicQuery/query',
           method: "post",
           toolbar: col.tools,
           defaultToolbar: col.dtools,
           totalRow: true,
           height: 'full-250',
           cols: col.cols,
           where: condition
       });
     },

     //2.表格重载
     tableReload: function (data) {
       table.reload('table-pick', {
           where: data,
           page: {
               curr: 1
           }
       });
     }
   }


   //***初始化***
   active.tableRender();


   //***事件监听***
   //1.查询
   form.on('submit(query1)',function(obj){
     var parm = {type: 'app', field1: '1', field2: 'userauthen',field3:obj.field.name};
     active.tableReload(parm);
   })


   //2.重置按钮
   form.on('submit(clear1)', function (data) {
      form.val("query-pick-app", jutil.empty(data.field));
      active.tableReload(condition);
   });

  })
</script>